body {
  margin: 0;
  font-family: Arial, sans-serif;
}
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 100vh;
}
